@import url('https://fonts.cdnfonts.com/css/minecraft-4');

body {
    font-family: 'Minecraft', sans-serif;
}

#status {
    color: #FFFF00;
    font-size: 1.5em;
    text-shadow: 3px 3px #3F3F00;
    padding: 40px;
    position: absolute;
}

.pop {
    animation: pop 0.58s infinite;
}

@keyframes pop {
    from, to {
        transform: scale(0.95);
    }

    50% {
        transform: scale(1);
    }
}


.tilt {
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
}


/*--------------------------------------------------------------------------------------------------------------------*/
button {
    --bg: #e74c3c;
    --text-color: #fff;
    position: relative;
    width: 150px;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #c0392b 0 7px 2px, #000 0 8px 5px;
}

button:hover {
    opacity: 1;
}

button:active {
    top: 4px;
    box-shadow: #c0392b 0 3px 2px, #000 0 3px 5px;
}