


/*--------------------------------------------- NAVIGATION BAR ---------------------------------------------*/
/*???clickable area of links immediately flow from one link to the next (padding will help achieve this)???*/

/*box-sizing: border-box for all elements*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/*no explicit height given to the navbar*/
nav {
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
}

/*anchor tags are display: inline-block*/
/*default styling is removed as needed from the body, unordered list and anchor tag elements (text decoration)*/
header nav a {
    color: black;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    padding: 2em .75em;
}

/*links turn blue on hover*/
header nav a:hover, .magnifying-glass:hover, .handle:hover {
    color:blue;
}
/*NOW*/
/*Google Fonts used for logo and link text ("Montserrat" and "Work Sans", respectively)*/
header nav ul {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

/*logo is horizontally centered on the navbar (automatic margins will help achieve this)*/
header nav .logo {
    position: absolute;
    width: 100%;
    text-align: center;
}

header nav .logo li {
    width: 100%;
}

/*Google Fonts used for logo and link text ("Montserrat" and "Work Sans", respectively)*/
/*the "Logo" text is 3em with .2em of padding above and below*/
header nav .logo a {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .2em 0;
}

ul:not(.logo) {
    z-index: 100;
}

.magnifying-glass {
    width: 12px;
    height: 12px;
    background-color: rgba(139, 0, 25, 0.01);
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    transform: translate(-40%, -20%);
}

.handle {
    /*border-radius: 10px;*/
    width: 3px;
    height: 7px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(100%, -10%) rotate(-50deg);
}
/*--------------------------------------------------------*/
/*SPINNING ICON*/
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinning-icon {
    display: flex;
    margin-left: auto;
    margin-top: 33px;
    width: 25px;
    height: 15px;
    background-color: #3498db; /* Set your desired background color */
    border-radius: 50%;
    animation: spin 5s linear infinite; /* Adjust the duration and timing function as needed */
}




/*-------------------------------------- VIDEO BG LINKED TO MOUSE SCROLLER -------------------------------------- */
/*html {*/
/*    height: 100vh;*/
/*}*/

/*body {*/
/*    background:#000;*/
/*    height: 500vh*/
/*}*/

/*canvas {*/
/*    position: fixed;*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    max-height: 100vh;*/
/*    max-width: 100vw;*/
/*    transform: translate(-50%, -50%);*/
/*}*/
/* -----------------------------SECOND ATTEMPT ----------------------------- */
/*#set-height {*/
/*    display: flex;*/
/*    height: 13500px;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    font-family: Helvetica, sans-serif;*/
/*    font-size: 24px;*/
/*}*/