
* {
    color: white;
}
/*-------------------------------------------------------------------------------------------------- HEADER ----------*/
#header {
    width: 100%;
    background-color: #002447;
    box-shadow: 1px 2px 10px rgb(74, 15, 35);
    padding: .5em;
    position: absolute; top: 0;
}
#left-header {
    font-size: x-large;
    margin-left: 1%;
    margin-right: 45%;
}
#right-header{
    margin-left: 1%;
}

#searcher {
    margin: 5em 2em 2em;
}
.input {
    background-color: #212121;
    max-width: 190px;
    height: 30px;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid #002447;
    border-radius: 45px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
}

.input:focus button:focus {
    color: rgb(0, 36, 71);
    background-color: #212121;
    outline-color: rgb(0, 36, 71);
    box-shadow: -3px -3px 15px rgb(0, 36, 71);
    transition: .1s;
    transition-property: box-shadow;
}

button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    /*border: black 2px solid;*/
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease .3s;
    cursor: pointer;
    outline: none;
}






/*--------------------------------------------------------------------------------------------------- CARDS ----------*/
#cardHolder {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    margin: 1em 1em;
    padding: 1em 2em;
    width: 12em;
    height: 320px;
    border-radius: 5px;
    background-color: rgba(79, 3, 3, 0.81);
    box-shadow: 1px 2px 10px rgb(0, 36, 71);
}

.centered {
    text-align: center;
}

.cloud {
    /*width: 500px;*/
    /*height: 500px;*/
}


/*---------------------------------------------------------------------------------------------- DROP-DOWNS ----------*/
#drop-downs {
    /*display: flex;*/
    /*align-items: flex-end;*/
}


/*------------------------------------------------------------------------------------------------- ZOOMIES ----------*/
#zoomHolder {
    width: max-content;
    background-color: grey;
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 1em;
    margin-bottom: .5em;
}
#zoomies {
    background-color: grey;
     border-radius: 5px;
}


/*------------------------------------------------------------------------------------------------- MAPTYPE ----------*/
#mapTypeHolder {
    width: max-content;
    background-color: grey;
    border-radius: 5px;
    padding-left: 5px;
}
#mapType {
    background-color: grey;
    border-radius: 5px;
}


/*----------------------------------------------------------------------------------------------------- MAP ----------*/
#mapHolder {
    position: relative;
    display: flex;
    justify-content: center;
}

#coordinates {
    position: absolute;
    bottom: 5.5%;
    left: 78%; /* Use "left" as 50% for horizontal centering */
    transform: translateX(50%); /* Use transform to adjust position */
    /*width: 20em;*/
}

#map {
    /* the width and height may be set to any size */
    width: 95%;
    height: 40vh;
    border: #8b9dad solid 3px;
    border-radius: 5px;
    margin: 4em 4em 0 4em;
}

/*----------------------------------------------------------------------------------------------------- MAP ----------*/
.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

/*---------------------------------------------------------------------------------------- DARK-MODE TOGGLE ----------*/
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
}

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

/* .switch:hover */.sun svg {
                       animation: rotate 15s linear infinite;
                   }

@keyframes rotate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* .switch:hover */.moon svg {
                       animation: tilt 5s linear infinite;
                   }

@keyframes tilt {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.input:checked + .slider {
    background-color: #183153;
}

.input:focus + .slider {
    box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
    transform: translateX(30px);
}


/*!*--------------------------------------------------------------------------------------------------------------------*!*/
/*!* Add styles for card container *!*/
/*.card-container {*/
/*    position: relative;*/
/*    padding: 0 30px;*/
/*    margin-top: 100px;*/
/*    overflow: hidden;*/
/*}*/

/*!* Add styles for card scroll *!*/
/*.scroll-images {*/
/*    display: flex;*/
/*    flex-wrap: nowrap;*/
/*    overflow-x: auto;*/
/*    scroll-snap-type: x mandatory;*/
/*    -webkit-overflow-scrolling: touch;*/
/*    margin-bottom: 20px;*/
/*}*/

/*!* Add styles for card *!*/
/*.child {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    min-width: 250px;*/
/*    height: 200px;*/
/*    padding: 0px 15px;*/
/*    margin: 1px 10px;*/
/*    border: 1px solid #f1f1f1;*/
/*    overflow: hidden;*/
/*    scroll-snap-align: start;*/
/*    -webkit-box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);*/
/*    box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);*/
/*}*/

/*.child img, .child > svg {*/
/*    width: 80px;*/
/*    height: 80px;*/
/*    object-fit: cover;*/
/*    object-position: center;*/
/*    border-radius: 50%;*/
/*    background: #03A9F4;*/
/*    margin-bottom: 10px;*/
/*}*/

/*!* Add styles for navigation buttons *!*/
/*.left, .right {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*    font-size: 25px;*/
/*    background-color: transparent;*/
/*    border: none;*/
/*    outline: none;*/
/*    cursor: pointer;*/
/*}*/

/*.left {*/
/*    left: 0;*/
/*}*/

/*.right {*/
/*    right: 0;*/
/*}*/