


/*-------------------------------------------------------------------------------------------------- HEADER ----------*/
#header {
    width: 100%;
    background-color: #002CFFCC;
    box-shadow: 1px 2px 10px rgba(79, 3, 3, 0.81);
    padding: .5em;
    /*margin: auto;*/
    /*display: flex; justify-content: space-between;*/
}
#left-header {
    font-size: x-large;
    margin-left: 1%;
    margin-right: 75%;
}
#right-header{
}

#searcher {
    margin: 2em;
}

/*--------------------------------------------------------------------------------------------------- CARDS ----------*/
#cardHolder {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}
.card {
    margin-bottom: 1%;
    padding: 5px 30px;
    width: 14vw;
    height: 35vh;
    border-radius: 5px;
    background-color: rgba(79, 3, 3, 0.81);
    box-shadow: 1px 2px 10px rgba(0, 44, 255, 0.8);
}

.centered {
    text-align: center;
}

/*----------------------------------------------------------------------------------------------------- MAP ----------*/
#map {
    /* the width and height may be set to any size */
    width: 100%;
    height: 40vh;
    border: #8b0019 solid 3px;
    border-radius: 5px;
}


