

/*-------------------------------------------------------------------------------------------------- HEADER ----------*/
#header {
    width: 100%;
    background-color: #002CFFCC;
    box-shadow: 1px 2px 10px rgba(79, 3, 3, 0.81);
    padding: .5em;
    position: absolute; top: 0;
}
#left-header {
    font-size: x-large;
    margin-left: 1%;
    margin-right: 75%;
}
#right-header{
    margin-left: 1%;
}

#searcher {
    margin: 5em 2em 2em;
}

/*--------------------------------------------------------------------------------------------------- CARDS ----------*/
#cardHolder {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    margin: .5em 1em;
    padding: 1em 2em;
    width: 12em;
    height: 35vh;
    border-radius: 5px;
    background-color: rgba(79, 3, 3, 0.81);
    box-shadow: 1px 2px 10px rgba(0, 44, 255, 0.8);
}

.centered {
    text-align: center;
}

.cloud {
    /*width: 500px;*/
    /*height: 500px;*/
}

/*----------------------------------------------------------------------------------------------------- MAP ----------*/
#mapHolder {
    position: relative;
    display: flex;
    justify-content: center;
}

#coordinates {
    position: absolute;
    bottom: 5.5%;
    left: 78%; /* Use "left" as 50% for horizontal centering */
    transform: translateX(50%); /* Use transform to adjust position */
    /*width: 20em;*/
}

#map {
    /* the width and height may be set to any size */
    width: 95%;
    height: 40vh;
    border: #8b0019 solid 3px;
    border-radius: 5px;
    margin: 4em 4em 0 4em;
}

/*----------------------------------------------------------------------------------------------------- MAP ----------*/
.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

