/*html {*/
/*    height: 100vh;*/
/*}*/

/*body {*/
/*    background:#000;*/
/*    height: 500vh*/
/*}*/

/*canvas {*/
/*    position: fixed;*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    max-height: 100vh;*/
/*    max-width: 100vw;*/
/*    transform: translate(-50%, -50%);*/
/*}*/
/* --------------------------------------SECOND ATTEMPT --------------------------------- */
#set-height {
    display: flex;
    height: 13500px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
}